doctype html
html(lang="en")
    head
        title!= title
        link(rel='stylesheet', href='../css/Skeleton-2.0.4/css/skeleton.css')
    body
        h1!= body.h1
        p1!= body.p1
        br
        ul
            li
                a(href="/secretarea") Secret Area
            li
                a(href="/grouparea") Group Area
            li
                a(href="/publicarea") Public Area
